<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=foundCamp.title %>
    </title>
</head>

<body>
    <h1>
        <%=foundCamp.title %>
    </h1>
    <p>
        <%=foundCamp.description %>
    </p>
    <%if(foundCamp.image){%>
        <div>
            <div>
                <img src="<%=foundCamp.image %>" width="350px" height="350px" alt="">
            </div>
        </div>
        <%} %>
            <div style="display: flex;">
                <a style="margin: 0 2rem;" href="/campgrounds/<%= foundCamp._id%>/edit">Edit Campground</a>
                <form action="/campgrounds/<%= foundCamp._id%>?_method=DELETE" method="POST">
                    <button>Delete Campground</button>
                </form>
            </div>
            <a href="/campgrounds">All Campgrounds</a>
</body>

</html>